
img {
  height: 250px;
  width: 250px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.btn-primary {
  background-color: #1ed760 !important;
  border-color: #1ed760 !important;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

